.App {
 
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar{
  margin: 0 auto;
  width: 50%;
 
}
.img{
  margin: 0 auto;
  width: 25%;
}
.navbar-background{
  background-color: #282c34;
}
.banner{
  margin: 0 auto;
  width: 60%;
  
}
#background-color{
  background-color: rgba(128, 128, 128, 0.378);
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#follow-background{
  background-color: #242526;
  padding: 10px;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
